.curso {
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .contenido {
    grid-column: 2/3;
  }
}

.contenido h2 {
  color: var(--blanco);
}

.contenido p {
  color: var(--blanco);
  text-align: center;
  font-size: 2.4rem;
}

.contenido a {
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--blanco);
  border: 2px solid var(--primary);
  padding: 10px 30px;
  transition-property: background-color;
  transition-duration: 0.4s;
}

.contenido a:hover {
  background-color: var(--primary);
  color: var(--blanco);
}
