.footer {
  padding: 5rem 0;
  background-size: cover;
  background-position: 50%;
  background-color: var(--negro);
  margin-top: 5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.barra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .barra {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navegacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .navegacion {
    margin-top: 0;
    flex-direction: row;
    align-items: center;
  }
}

.navegacion a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5rem;
  transition-property: color;
  transition-duration: 0.3s;
}

.navegacion a:hover {
  color: var(--primary);
}

.derechos {
  color: var(--blanco);
}
