.formulario {
  display: flex;
  flex-direction: column;
}

.formulario label {
  font-size: 2.2rem;
}

.formulario select {
  border: 2px solid var(--primary);
  padding: 1rem;
  text-align: center;
  font-size: medium;
}

.formulario input[type="submit"] {
  margin-top: 3rem;
  background-color: var(--primary);
  padding: 1rem;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 600;
  transition: background-color;
  transition-duration: 0.3s;
  border: none;
  color: var(--blanco);
}

.formulario input[type="submit"]:hover {
  background-color: var(--negro);
  cursor: pointer;
}

.guitarra {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 1rem;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
  min-width: 29rem;
}

.contenido {
  padding: 1rem;
}

.contenido h3 {
  text-transform: uppercase;
  font-size: 3rem;
}

.descripcion {
  font-weight: 400;
  font-size: 1.8rem;
  padding: 0 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.precio {
  color: var(--primary);
  font-size: 5.5rem;
  font-weight: 800;
  margin: 0;
}

.enlace {
  margin-top: 2rem;
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--negro);
  border: 2px solid var(--primary);
  padding: 5px;
  transition-property: background-color;
  transition-duration: 0.4s;
}

.enlace:hover {
  background-color: var(--primary);
  color: var(--blanco);
}
